
@font-face {
    font-family: 'Songstar';
    src: url('../fonts/ActerumSignature.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Clasica';
    src: url('../fonts/Qaz-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Greatday';
    src: url('../fonts/Great\ Day.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'AntaraDistance';
    src: url('../fonts/AnomanObong.ttf');
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0;
    overflow:  hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
}
#contenedorLogo{
    height: 100vh;
}
.fuenteBarraNavegador{
    color: inherit !important;
    font-size: 2em !important;
    font-family: 'AntaraDistance';
}
.resaltePaginaActual{
    font-weight: bolder !important;
}
.fuenteLogo{
    font-family:'Greatday' !important;
    font-size: 2.5em;
    margin-top: 0.5em;
}
#logoRestaurante{
    font-family:'Songstar' !important;
    font-size: calc(1rem + 25vw)
}
.textoHome{
    font-size: 1em;
    font-family:'Clasica';
}
.margenTopContenedor{
    margin-top: 6em !important;
}
.video{
   position:fixed;
   min-width: 100%;
   min-height: 100%;
   background-size: cover;
   height: auto;
   width: auto;
}
.contenedorHome{
position: relative;

}
#barraDeNavegacion{
    opacity: 0;
}


/* Pagina Carta */

#contenedorDeCuerpo{
    top: 3.5em;
}
#contenedorBarra{
    height: 4.5em !important;
}
#textoCabeceraCarta{
    font-size: calc(5rem + 3vw);
    font-family: 'AntaraDistance';
}
.enlacesEstilo{
    font-family: 'AntaraDistance';
    text-decoration: none;
    color: white;
}
.cambiaDeTamaño :hover{
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.02);
}

/* Página de contacto*/
.iconoContacto{
    margin-right: 0.5em;
    width: 2em;
    height: 2em;
}
.textoContacto{
    font-size: 1.3em;
    font-family: 'Clasica' !important;
}
#contenedorFormularioContacto{
    opacity: 90%;
}
#botonEnviarFormulario{
    font-size: 1.5em;
}
#textoFormularioCabecera{
    font-family: 'Clasica' !important;
}