
@font-face {
    font-family: 'Songstar';
    src: url('../fonts/SongstarFree-qLg1.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Copenhagen';
    src: url('../fonts/Copenhagen-z3Z0.ttf');
    font-style: normal;
    font-weight: normal;
}


body{
    display: block;
}
.bienvenida{
    height: 100vh;
}

.logoBienvenida{
    color: white;
    font-size: 5em;
}

.fuenteEspecial, .logoBienvenida{
    font-family:'Copenhagen';
    color: white;
    font-size: 5em;
}

.logoBienvenida{
    font-size: 30em;
}
.letraColor{
    color: white !important;
}
.carta{
    position: absolute;
    top: 12em;
    background-color: aqua;
    color: white;
}
#segundoAnuncio{
    display: none;
}
.imagenMediana{
    width: 35em;
}
.margenTopContenedor{
    margin-top: 6em;
}
.video{
   position:fixed;
}
.pprueba{
position: relative;
}