
@font-face {
    font-family: 'Songstar';
    src: url('../fonts/SongstarFree-qLg1.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Copenhagen';
    src: url('../fonts/Copenhagen-z3Z0.ttf');
    font-style: normal;
    font-weight: normal;
}

body{
    margin: 0;
    overflow:  hidden;
}
#contenedorLogo{
    height: 100vh;
}

.fuenteEspecial{
    font-family:'Copenhagen';
    color: white;
    font-size: 5em;
}
.logoRestaurante{
    font-family:'Copenhagen';
    /*font-size: 30rem;*/
    color: white;
    font-size: calc(1rem + 30vw)
}
.letraColor{
    color: white !important;
}
.carta{
    position: absolute;
    top: 12em;
    background-color: aqua;
    color: white;
}
#segundoAnuncio{
    display: none;
}
.margenTopContenedor{
    margin-top: 6em !important;
}
.video{
   position:fixed;
   min-width: 100%;
   min-height: 100%;
   background-size: cover;
   height: auto;
   width: auto;
}
.contenedorHome{
position: relative;

}
#barraDeNavegacion{
    opacity: 0;
}
.paginaActual{
    font-weight: bolder !important;
    font-size: 1.2em !important;
}

/* Pagina Carta */

#contenedorMenu{
    top: 3.5em;
}

/*#imagenMenu{
width: 25em;
height: 17em;
}*/

#textoCartaPresentacion{
    font-size: 10em;
}

.enlacesEstilo{
    text-decoration: none;
}